@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

main{
        border-radius: 7px;
        background-color: white;
        height: auto;
        box-shadow: 5px 5px 15px #023535c4;
        width: 600px;
        padding: 10px;
        margin: auto;
}


h1{
    color: #0FC2C0;
    text-shadow: 1px 1px 2px #0b807ec2;
}

h2{
    color:#023535;
}



body{

background-image: linear-gradient(to right, #0CABA8, #015958);

}

p{
    text-align: justify;
}