@charset "UTF-8";

body{
    height: 100vh;
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: repeat-y;

}

main{
    background-color: white;
    width: 400px;
    border: solid 1px blue;
    margin: auto;
    border-radius: 15px;
}
